<section class="need-project">
    <div class="container">
        <div class="wrapper__text-content-form">
            <div class="need-project__text-content">
                <div class="need-project__title">Need a Project?</div>
                <div class="need-project__text">
                    Let us know what you're looking for in an agency. We'll take a look and see
                    if this could be the start of something beautiful.
                </div>
            </div>
            <form class="need-project__form">
                <div class="form__name-email">
                    <input type="text" class="input input-name" placeholder="    Your Name">
                    <input type="text" class="input input-email" placeholder="    Your Email">
                </div>
                <div class="form__title-comment">
                <input type="text" class="input input-title" placeholder="    Your Title">
                <textarea type="text" class="textarea" placeholder="    Your Comment"></textarea>
                </div>
                <input type="submit" class="input input-button" value="send message">
            </form>
        </div>
    </div>
</section>