<section class="numbers">
    <div class="container">
        <div class="numbers-box-wrapper">
            <div class="number-box">
                <div class="number-box__img">
                    <img src="../img/pe-7s-portfolio.png" alt="">
                </div>
                <div class="number"> 548
                    <div class="number__subtitle">PROJECTS COMPLETED</div>
                </div>
            </div>
            <div class="number-box">
                <div class="number-box__img">
                    <img src="../img/pe-7s-clock.png" alt="">
                </div>
                <div class="number"> 1465
                    <div class="number__subtitle">WORKING HOURS</div>
                </div>
            </div>
            <div class="number-box">
                <div class="number-box__img">
                    <img src="../img/pe-7s-star.png" alt="">
                </div>
                <div class="number"> 612
                    <div class="number__subtitle">POSITIVE FEEDBACKS</div>
                </div>
            </div>
            <div class="number-box">
                <div class="number-box__img">
                    <img src="../img/pe-7s-like.png" alt="">
                </div>
                <div class="number"> 735
                    <div class="number__subtitle">HAPPY CLIENTS</div>
                </div>
            </div>
        </div>
    </div>
</section>