<section class="services">
    <div class="container">
        <div class="services-wrapper">
            <div class="services-wrapper-box">
                <img src="../img/pe-7s-diamond.png" alt="" class="services-wrapper-box__img">
                <div class="services-wrapper-box__title">ui / ux design</div>
                <div class="services-wrapper-box__text">
                    Be set fourth land god darkness make it wherein own
                </div>
            </div>
            <div class="services-wrapper-box">
                <img src="../img/pe-7s-arc.png" alt="" class="services-wrapper-box__img">
                <div class="services-wrapper-box__title">web development</div>
                <div class="services-wrapper-box__text">
                    A she'd them bring void moving third she'd kind fill
                </div>
            </div>
            <div class="services-wrapper-box">
                <img src="../img/pe-7s-phone.png" alt="" class="services-wrapper-box__img">
                <div class="services-wrapper-box__title">app / mobile</div>
                <div class="services-wrapper-box__text">
                    Dominion man second spirit he, earth they're creeping
                </div>
            </div>
            <div class="services-wrapper-box">
                <img src="../img/pe-7s-joy.png" alt="" class="services-wrapper-box__img">
                <div class="services-wrapper-box__title">game design</div>
                <div class="services-wrapper-box__text">
                    Morning his saying moveth it multiply appear life be
                </div>
            </div>
            <div class="services-wrapper-box">
                <img src="../img/pe-7s-plane.png" alt="" class="services-wrapper-box__img">
                <div class="services-wrapper-box__title">SEO / marketing</div>
                <div class="services-wrapper-box__text">
                    Give won't after land fill creeping meat you, may
                </div>
            </div>
            <div class="services-wrapper-box">
                <img src="../img/pe-7s-star-2.png" alt="" class="services-wrapper-box__img">
                <div class="services-wrapper-box__title">photography</div>
                <div class="services-wrapper-box__text">
                    Creepeth one seas cattle grass give moving saw give
                </div>
            </div>
            <div class="services-wrapper-box">
                <img src="../img/pe-7s-magic-wand.png" alt="" class="services-wrapper-box__img">
                <div class="services-wrapper-box__title">graphic design</div>
                <div class="services-wrapper-box__text">
                    Open, great whales air rule for, fourth life whales
                </div>
            </div>
            <div class="services-wrapper-box">
                <img src="../img/pe-7s-paint-bucket.png" alt="" class="services-wrapper-box__img">
                <div class="services-wrapper-box__title">illustrations</div>
                <div class="services-wrapper-box__text">
                    Whales likeness hath, man kind for them air two won't
                </div>
            </div>
        </div>
    </div>
</section>