<section class="skills">
    <div class="skills__wrapper">
        <div class="content-box__wrapper">
            <div class="content-box">
                <div class="content-box__title">Professional Skills</div>
                <div class="content-box__subtitle">UI/UX Design 75%
                    <div class="subtitle1-greyProgress">
                        <div class="subtitle1-blueBar"></div>
                    </div>
                </div>
                <div class="content-box__subtitle">web development 90%
                    <div class="subtitle2-greyProgress">
                        <div class="subtitle2-blueBar"></div>
                    </div>
                </div>
                <div class="content-box__subtitle">marketing 65%
                    <div class="subtitle3-greyProgress">
                        <div class="subtitle3-blueBar"></div>
                    </div>
                </div>
            </div>
            <div class="empty-box"></div>
        </div>
    </div>
</section>