<section class="work-process">
    <div class="container">
        <div class="work-process__title">
            Our Work Process
            <p class="work-process__text">
                Was years it seasons was there form he in in them together over that, <br>
                third sixth gathered female creeping bearing behold years.
            </p>
        </div>
        <div class="wrapper-video">
            <video class="video" width="90%">
                <source src="022 Каким будет наш первый проект.mp4" type="video/mp4">
            </video>
            <div class="button_play"></div>
        </div>
    </div>
</section>