<section class="works">
    
    <div class="works__wrapper">
        <div class="works__list">
            <div class="works__list-item_light-gray">
                <div class="works__spacer"></div>
                <div class="works__item-content"></div>
            </div>
            <div class="works__list-item_gray">
                <div class="works__spacer"></div>
                <div class="works__item-content"></div>
            </div>
            <div class="works__list-item_light-gray">
                <div class="works__spacer"></div>
                <div class="works__item-content"></div>
            </div>
            <div class="works__list-item_gray">
                <div class="works__spacer"></div>
                <div class="works__item-content"></div>
            </div>
            <div class="works__list-item_gray">
                <div class="works__spacer"></div>
                <div class="works__item-content"></div>
            </div>
            <div class="works__list-item_black">
                <div class="works__spacer"></div>
                <div class="works__item-content"></div>
                <img src="../img/pe-7s-look.png" alt="">
            </div>
            <div class="works__list-item_gray">
                <div class="works__spacer"></div>
                <div class="works__item-content"></div>
            </div>
            <div class="works__list-item_light-gray">
                <div class="works__spacer"></div>
                <div class="works__item-content"></div>
            </div>
        </div>
        <button class="works__button">LOAD MORE WORK</button>
    </div>
</section>