.header {
    height: 670px;
    background-color: #e9e9e9;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    height: 100%;
}

.header__content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 10px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav__link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    color: #191919;
    margin-left: 30px;
}

.header__tiile-box-wrapper {
    height: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__title-box {
    max-width: 480px;
    padding: 0px 10px;
}

.header__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    color: #191919;
    margin-bottom: 32px;
}

.header__text {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #787878;
    margin-bottom: 40px;
}

.header__button {
    background-color: #10c9c3;
    padding: 20px 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 84px;
    color: #ffffff;
}

@media all and (max-width:700px) {
    .header__logo {
        padding-top: 20px;;
    }
    .burger__item {
        display: block;
        height: 3px;
        width: 31px;
        background-color: #191919;
        margin: 4px 20px;
    }
    .header__content-wrapper {
        display: block;
        position: fixed;
        width: 100%;
        height: 65px;
        background-color: #e9e9e9;
        z-index: 5;
    }
    .header__logo {
        display: flex;
        justify-content: space-between;
        .logo {
            height: 25px;
        }
    }
    .nav__list {
        position: absolute;
        left: 0px;
        right: 0px;
        width: 100%;
        display: none;
        padding: 0px 0px;
        text-align: center;
        border-top: 2px solid grey;
        background-color: #e9e9e9;
    }
    .nav__list-item {
        border-bottom: 2px solid grey;
    }
    .nav__link {
        display: block;
        margin: 0px 0px;
        padding: 5px 0px;
    }
    .header__title-box {
        text-align: center;
        margin: 0 auto;
        padding: 0px 10px;
        padding-top: 100px;
    }
}
@media all and (min-width:701px) {
    .nav__list {
        display: flex !important;
    }
}